body {
  color: #333;
  letter-spacing: 0;
  background-color: #000;
  font-family: Inter, sans-serif;
  font-size: 1vw;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.28em;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  color: #c7c7c7;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.19em;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.88em;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.67em;
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.46em;
  font-weight: 700;
  line-height: 1.4;
}

p {
  color: #f2f2f2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
}

a {
  font-size: 1em;
  text-decoration: none;
}

label {
  color: #aaa;
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 500;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px;
}

.style_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.html {
  width: 0;
  height: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.global-styles {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.rich-text p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.rich-text h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3.28em;
}

.rich-text h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.5em;
}

.rich-text h3 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.19em;
}

.rich-text h4 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.88em;
}

.rich-text h5 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 1.67em;
}

.rich-text h6 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.46em;
}

.section {
  position: relative;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.h1 {
  font-size: 3.28em;
  line-height: 1.2;
}

.h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.h3 {
  font-size: 2.19em;
  line-height: 1.3;
}

.h4 {
  font-size: 1.88em;
  line-height: 1.3;
}

.h5 {
  font-size: 1.67em;
  line-height: 1.3;
}

.h6 {
  font-size: 1.46em;
}

.form_input {
  height: 3em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  margin-bottom: 1em;
  padding: 0 .9em;
  font-size: 1.25em;
}

.display {
  font-size: 4.38em;
  line-height: 1.1;
}

.form_submit {
  font-size: 1.25em;
}

.to-do_wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.field {
  height: 44px;
  color: #fff;
  background-color: #131313;
  border: 1px solid #343434;
  border-radius: 6px;
  margin-bottom: 0;
  padding: 8px 72px 8px 32px;
  font-size: 14px;
  line-height: 20px;
}

.field:focus {
  border-color: #343434;
  box-shadow: 0 0 0 2px #161616, 0 0 0 4px #707070;
}

.field::-ms-input-placeholder {
  color: #545454;
}

.field::placeholder {
  color: #545454;
}

.field_wrap {
  font-size: 1.5em;
}

.to-do_list {
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.to-do_item {
  width: 100%;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  transition: all .4s;
  display: flex;
  /* transition: ease 400ms all; */
}

.to-do_item:hover {
  background-color: #161616;
}

.to-do_item.completed {
  background-color: rgba(26, 26, 26, 0);
  text-decoration: line-through;
}

.to-do_item.completed:hover {
  background-color: #161616;
}

.label {
  text-transform: uppercase;
  margin-bottom: .4em;
  font-size: .8em;
  font-weight: 700;
}

.to-do_item-icon {
  opacity: .72;
  cursor: pointer;
  flex: none;
  justify-content: center;
  align-items: center;
  transition: opacity .4s;
  display: flex;
}

.to-do_item-icon:hover {
  opacity: 1;
  color: #fca0ff;
}

.hidden-template-items {
  padding-top: 4.3em;
}

.submit-button {
  display: none;
}

.avatar-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-image: linear-gradient(145.3deg, #f63b00 0%, #f6c000 100%);
  border-radius: 999px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}

.vectors-wrapper-3 {
  width: 5.2505px;
  height: 9.75059px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .4s;
  display: flex;
}

.logo:hover {
  opacity: .76;
}

.nav {
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.nav-left {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.btn-right {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.avatar {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-image: linear-gradient(145.3deg, #008ff6 0%, #0071f6 100%);
  border-radius: 999px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}

.text {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
}

.vectors-wrapper {
  width: 31.4074px;
  height: 22.2222px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slash {
  height: 32.2222px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
}

.phcaret-up-down {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1px 3px;
  display: flex;
}

.button {
  height: 32px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-radius: 9999px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  transition: all .4s;
  display: flex;
}

.button:hover {
  background-color: #282828;
}

.vectors-wrapper-2 {
  width: 4.83844px;
  height: 19.4059px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.item-left {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.input-wrap {
  position: relative;
}

.vectors-wrapper-4 {
  width: 12px;
  height: 12px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px #f2f2f2;
  border-radius: 100px;
  margin-top: 0;
  margin-left: -12px;
}

.checkbox.w--redirected-checked {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/check-1.svg');
  border: 2px #f2f2f2;
}

.item-end {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.p {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 500;
}

.list-group {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container-2 {
  width: 100%;
  max-width: 720px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px;
  display: flex;
}

.phplus {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2px;
  display: flex;
}

.list-item-group-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.group-title-row {
  width: 100%;
  border: 0 solid #282828;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
  padding-bottom: 12px;
  display: flex;
}

.input-start {
  z-index: 2;
  width: 20px;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 8px;
  right: auto;
}

.input {
  width: 100%;
  height: 44px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #131313;
  border: 1px solid #343434;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  display: flex;
}

.input.for-wf {
  color: #fff;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 72px;
}

.input.for-wf:focus {
  border-color: #343434;
  box-shadow: 0 0 0 2px #161616, 0 0 0 4px #707070;
}

.input.for-wf:focus-visible {
  border-color: #343434;
}

.input.for-wf[data-wf-focus-visible] {
  border-color: #343434;
}

.input.for-wf::-ms-input-placeholder {
  color: #545454;
}

.input.for-wf::placeholder {
  color: #545454;
}

.item-name {
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 500;
}

.item-name.checked {
  text-decoration: line-through;
}

.itemscount-2 {
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 500;
}

.list-item-group {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.itemdate {
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 500;
}

.todo-item {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  transition: all .4s;
  display: flex;
}

.todo-item:hover {
  background-color: #282828;
}

.input-end {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
}

.flex-keys {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.flex-keys.for--item {
  display: none;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
}

.title {
  opacity: .8;
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
}

.list-groups {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.key {
  width: auto;
  min-width: 20px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(255, 255, 255, .06);
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
}

.key-2 {
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(255, 255, 255, .06);
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
}

.group-title {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 4px;
  display: flex;
}

.itemscount {
  opacity: .5;
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
}

.itemscount.hidden {
  display: none;
}

.to-do_item-check {
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.to-do_item-check:hover {
  opacity: 1;
  color: #fca0ff;
}

.todo-item-flex {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  display: flex;
}

.to-do__right {
  align-items: center;
  display: flex;
}

.to-do_list-completed {
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.div-block {
  background-color: #c00b0b;
}

.goku-modal {
  z-index: 10;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  color: gray;
  /* mix-blend-mode: luminosity; */
  filter: grayscale(1);
  background-color: rgba(136, 136, 136, .16);
  border: 1px solid rgba(255, 255, 255, .12);
  border-radius: 8px;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: auto;
  right: auto;
  box-shadow: 0 48px 55px -12px rgba(0, 0, 0, .21);
}

.space {
  height: 200px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

._404 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button-2 {
  background-color: #131313;
  border: 1px solid #343434;
  border-radius: 1000px;
  transition: all .4s;
}

.button-2:hover {
  border-color: #6d6d6d;
}

.text-block {
  color: #cecece;
}

.sp-24 {
  height: 24px;
}



@media screen and (max-width: 991px) {
  body {
    font-size: 13px;
  }

  .container {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media screen and (max-width: 767px) {
  .flex-keys {
    display: none;
  }
  .flex-row__100.for--button {
    display: none !important;
  }
}

@media screen and (max-width: 601px) {


}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }


  .to-do_item {
    padding-left: 0;
    padding-right: 0;
  }

  .to-do_item-title {
    font-size: 14px;
  }

  .nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .slash,
  .button.mobile-hide {
    display: none;
  }
}


a {
  color: inherit;
}

/* Disable / enable clicking on an element and its children  */
.no-click {
  pointer-events: none;
}

.can-click {
  pointer-events: auto;
}

/* Target any element with a certain "word" in the class name  */
[class*="spacer"] {}

.to-do_item .check-icon-check {
  display: none;
}

.to-do_item.completed .check-icon-check {
  display: block;
}

.to-do_item .check-icon-uncheck {
  display: block;
}

.to-do_item.completed .check-icon-uncheck {
  display: none;
}

@media (min-width: 992px) {
  .to-do_item .px-trash {
    opacity: 0;
  }

  .to-do_item:hover .px-trash {
    opacity: 1;
  }
}

/*.field {
	font-size: inherit;
}*/
.goku-modal {
  width: 680px !important;
  max-width: 96vw !important;
  border-radius: 8px;
  padding: 4px;
  top: 80px !important;
}

#gifImage {
  width: 100% !important;
  border-radius: 6px !important;
  height: auto;
  max-height: 100%;
}

.ui-dialog {
  outline: none !important;
}

.to-do_item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-item-flex {
  max-width: calc(100% - 48px);
}

.to-do_item:hover {
  filter: none !important;
  transition: filter 400ms ease;
}

.nav-left, .nav-right {
  transition: transform 0.4s ease;
}

/* buttons */

.glowing-box {
  isolation: isolate;
  overflow: hidden;
  border-radius: 999px;
  display: inline-block;
  position: relative;
}

.glowing-box-active .glowing-box-animations, .glowing-box-active .glowing-box-borders-masker {
  opacity: 1;
}

.glowing-box-animations {
  opacity: 0;
  pointer-events: none;
  transition: 1s ease opacity;
}

.glowing-box-animations {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.glowing-box-borders {
  left: 0;
  top: -50%;
  position: absolute;
  width: 100%;
}

.glowing-box-animations:before, .glowing-box-borders:before {
  content: "";
  float: left;
  padding-top: 100%;
}


.glowing-box-glow {
  filter: blur(8px);
  opacity: .12;
}

.glowing-box-stars-masker {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0534 15.732C13.8444 15.283 14.2848 14.8489 14.7326 15.051C14.8296 15.0959 14.9043 15.1707 14.949 15.268C15.1506 15.717 14.7177 16.1511 14.2698 15.949C14.1728 15.9041 14.0982 15.8293 14.0534 15.732Z' fill='black'/%3E%3Cpath d='M18.8001 13.5093C19.0016 13.0603 18.5687 12.6263 18.1209 12.8283C18.0239 12.8732 17.9492 12.9481 17.9045 13.0453C17.6955 13.4944 18.1358 13.9284 18.5837 13.7264C18.6807 13.6815 18.7553 13.6066 18.8001 13.5093Z' fill='black'/%3E%3Cpath d='M0.949043 2.732C1.15057 2.28297 0.717663 1.84891 0.269836 2.05097C0.172806 2.09587 0.098162 2.17071 0.0533793 2.268C-0.155607 2.71703 0.284759 3.15109 0.732587 2.94903C0.829616 2.90413 0.90426 2.82929 0.949043 2.732Z' fill='black'/%3E%3Cpath d='M26.9489 7.732C27.151 7.28297 26.7169 6.84891 26.2679 7.05097C26.1706 7.09587 26.0958 7.17071 26.0508 7.268C25.8488 7.71703 26.2828 8.15109 26.7319 7.94903C26.8292 7.90413 26.904 7.82929 26.9489 7.732Z' fill='black'/%3E%3Cpath d='M13.0534 5.732C12.8444 5.28297 13.2848 4.84891 13.7326 5.05097C13.8296 5.09587 13.9043 5.17071 13.949 5.268C14.1506 5.71703 13.7177 6.15109 13.2698 5.94903C13.1728 5.90413 13.0982 5.82929 13.0534 5.732Z' fill='black'/%3E%3Cpath d='M10.0534 17.732C9.84439 17.283 10.2848 16.8489 10.7326 17.051C10.8296 17.0959 10.9043 17.1707 10.949 17.268C11.1506 17.717 10.7177 18.1511 10.2698 17.949C10.1728 17.9041 10.0982 17.8293 10.0534 17.732Z' fill='black'/%3E%3Cpath d='M15.0534 21.732C14.8444 21.283 15.2848 20.8489 15.7326 21.051C15.8296 21.0959 15.9043 21.1707 15.949 21.268C16.1506 21.717 15.7177 22.1511 15.2698 21.949C15.1728 21.9041 15.0982 21.8293 15.0534 21.732Z' fill='black'/%3E%3C/svg%3E%0A");
  mask: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0534 15.732C13.8444 15.283 14.2848 14.8489 14.7326 15.051C14.8296 15.0959 14.9043 15.1707 14.949 15.268C15.1506 15.717 14.7177 16.1511 14.2698 15.949C14.1728 15.9041 14.0982 15.8293 14.0534 15.732Z' fill='black'/%3E%3Cpath d='M18.8001 13.5093C19.0016 13.0603 18.5687 12.6263 18.1209 12.8283C18.0239 12.8732 17.9492 12.9481 17.9045 13.0453C17.6955 13.4944 18.1358 13.9284 18.5837 13.7264C18.6807 13.6815 18.7553 13.6066 18.8001 13.5093Z' fill='black'/%3E%3Cpath d='M0.949043 2.732C1.15057 2.28297 0.717663 1.84891 0.269836 2.05097C0.172806 2.09587 0.098162 2.17071 0.0533793 2.268C-0.155607 2.71703 0.284759 3.15109 0.732587 2.94903C0.829616 2.90413 0.90426 2.82929 0.949043 2.732Z' fill='black'/%3E%3Cpath d='M26.9489 7.732C27.151 7.28297 26.7169 6.84891 26.2679 7.05097C26.1706 7.09587 26.0958 7.17071 26.0508 7.268C25.8488 7.71703 26.2828 8.15109 26.7319 7.94903C26.8292 7.90413 26.904 7.82929 26.9489 7.732Z' fill='black'/%3E%3Cpath d='M13.0534 5.732C12.8444 5.28297 13.2848 4.84891 13.7326 5.05097C13.8296 5.09587 13.9043 5.17071 13.949 5.268C14.1506 5.71703 13.7177 6.15109 13.2698 5.94903C13.1728 5.90413 13.0982 5.82929 13.0534 5.732Z' fill='black'/%3E%3Cpath d='M10.0534 17.732C9.84439 17.283 10.2848 16.8489 10.7326 17.051C10.8296 17.0959 10.9043 17.1707 10.949 17.268C11.1506 17.717 10.7177 18.1511 10.2698 17.949C10.1728 17.9041 10.0982 17.8293 10.0534 17.732Z' fill='black'/%3E%3Cpath d='M15.0534 21.732C14.8444 21.283 15.2848 20.8489 15.7326 21.051C15.8296 21.0959 15.9043 21.1707 15.949 21.268C16.1506 21.717 15.7177 22.1511 15.2698 21.949C15.1728 21.9041 15.0982 21.8293 15.0534 21.732Z' fill='black'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
}

.glowing-box-animations * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.glowing-box-animations:after, .glowing-box-borders:after {
  clear: both;
  content: "";
  display: block;
}

.glowing-box-borders-masker {
  border-radius: 999px;
  content: "";
  height: 100%;
  inset: 0;
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 1s ease opacity;
  width: 100%;
}

.glowing-box-borders {
  animation-name: borderTurnWithTranslate;
}


.glowing-box-borders, .glowing-box-glow, .glowing-box-stars {
  animation: borderTurn var(--animation-speed) infinite linear;
  background-image: conic-gradient(from 0 at 50% 50%,rgba(255,255,255,.5) 0deg,rgba(255,255,255,0) 60deg,rgba(255,255,255,0) 310deg,rgba(255,255,255,.5) 360deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.glowing-box-button {
  background-color: transparent;
  padding: 3px 24px;
}

.glowing-box-button {
  background: radial-gradient(107.5% 107.5% at 50% 215%,rgba(255,255,255,.24) 0%,rgba(255,255,255,0) 100%),rgba(255,255,255,.04);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 999px;
  cursor: pointer;
  padding: 7px 24px;
  position: relative;
  z-index: 1;
}

.glowing-box-button {
  font-feature-settings: "cv06" on,"calt" off,"liga" off;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 24px;
}

.glowing-box-button span {
  background: linear-gradient(180deg,rgba(255,255,255,.3) 8.85%,#FFFFFF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: block;
}

.glowing-box-button:after {
  background: radial-gradient(85% 120% at 50% 120%,rgba(255,255,255,.24) 0%,rgba(255,255,255,0) 100%);
  border-radius: 999px;
  content: "";
  height: calc(100% + 4px);
  left: -2px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: 1s all;
  width: calc(100% + 4px);
}

@keyframes borderTurn {
  0% {
    transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes borderTurWithTranslate {
  0% {
    transform: translate(-50%,-50%) rotate(0);
}
100% {
    transform: translate(-50%,-50%) rotate(360deg);
}
}

.flex-row__100.for--button {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.rising-stars {
  height: 560px;
    left: 50%;
    -webkit-mask-image: linear-gradient(180deg,rgba(217,217,217,0) 0%,rgba(217,217,217,.8) 25%,#d9d9d9 50%,rgba(217,217,217,.8) 75%,rgba(217,217,217,0) 100%);
    mask-image: linear-gradient(180deg,rgba(217,217,217,0) 0%,rgba(217,217,217,.8) 25%,#d9d9d9 50%,rgba(217,217,217,.8) 75%,rgba(217,217,217,0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    width: 936px;
    z-index: -1;
    pointer-events: none;
}

@keyframes risingStarsAnimation {
  0% {
    transform: translateZ(0) translateY(0);
}
100% {
    transform: translateZ(0) translateY(-2000px);
}
}

.rising-stars div:nth-child(1) {
  animation-duration: 100s!important;
  box-shadow: 1298px 3636px #fff, 1012px 1804px #fff, 1030px 894px #fff, 528px 997px #fff, 105px 390px #fff, 347px 1100px #fff, 69px 1372px #fff, 1600px 1297px #fff, 648px 1035px #fff, 317px 1746px #fff, 639px 1048px #fff, 214px 626px #fff, 1739px 1274px #fff, 1312px 1872px #fff, 111px 1581px #fff, 231px 592px #fff, 1667px 597px #fff, 1023px 1269px #fff, 1243px 1039px #fff, 1081px 1903px #fff, 740px 12px #fff, 202px 24px #fff, 810px 392px #fff, 1844px 75px #fff, 148px 161px #fff, 1591px 394px #fff, 105px 1236px #fff, 102px 780px #fff, 677px 100px #fff, 1335px 687px #fff, 1251px 451px #fff, 967px 1791px #fff, 1035px 654px #fff, 1224px 1878px #fff, 1159px 1658px #fff, 247px 966px #fff, 536px 497px #fff, 1193px 1767px #fff, 1181px 55px #fff, 1159px 734px #fff, 1074px 640px #fff, 452px 71px #fff, 231px 194px #fff, 840px 1030px #fff, 801px 102px #fff, 168px 640px #fff, 1739px 1806px #fff, 976px 1071px #fff, 1566px 1781px #fff, 999px 1415px #fff, 1071px 76px #fff, 1551px 1883px #fff, 507px 1287px #fff, 632px 1386px #fff, 1669px 1852px #fff, 810px 1810px #fff, 809px 341px #fff, 1348px 512px #fff, 1873px 1711px #fff, 1065px 516px #fff, 817px 1343px #fff, 1530px 147px #fff, 755px 1301px #fff, 50px 1157px #fff, 1374px 1646px #fff, 1376px 321px #fff, 1057px 1561px #fff, 463px 157px #fff, 1872px 851px #fff, 373px 1014px #fff, 1749px 875px #fff, 224px 1274px #fff, 1723px 1717px #fff, 766px 1543px #fff, 1112px 578px #fff, 992px 1297px #fff, 949px 764px #fff, 1137px 1735px #fff, 338px 1304px #fff, 929px 1539px #fff, 1160px 1573px #fff, 1821px 808px #fff, 1636px 522px #fff, 1399px 1782px #fff, 699px 858px #fff, 1191px 205px #fff, 1663px 1453px #fff, 610px 223px #fff, 74px 1087px #fff, 1021px 1967px #fff, 1713px 1374px #fff, 1979px 884px #fff, 1973px 756px #fff, 404px 1684px #fff, 1517px 922px #fff, 989px 895px #fff, 499px 1056px #fff, 54px 1441px #fff, 1732px 578px #fff, 1968px 176px #fff, 1624px 1145px #fff, 808px 1469px #fff, 1441px 891px #fff, 576px 552px #fff, 1617px 640px #fff, 946px 40px #fff, 1269px 811px #fff, 494px 171px #fff, 1838px 895px #fff, 1170px 1003px #fff, 67px 1983px #fff, 205px 5px #fff, 821px 656px #fff, 1420px 1363px #fff, 1060px 485px #fff, 1955px 1455px #fff, 462px 1761px #fff, 1348px 1844px #fff, 1405px 652px #fff, 541px 693px #fff, 282px 154px #fff, 1167px 25px #fff, 692px 1473px #fff, 1011px 1494px #fff, 1892px 765px #fff, 1155px 1475px #fff, 1561px 631px #fff, 1436px 1966px #fff, 1454px 1038px #fff, 1248px 1556px #fff, 1539px 1053px #fff, 1812px 28px #fff, 1788px 1231px #fff, 1148px 48px #fff, 754px 1984px #fff, 902px 1702px #fff, 1031px 1838px #fff, 267px 157px #fff, 1136px 1255px #fff, 157px 642px #fff, 1051px 637px #fff, 295px 753px #fff, 660px 1719px #fff, 1437px 260px #fff, 1456px 1259px #fff, 1282px 178px #fff, 276px 972px #fff, 1607px 425px #fff, 609px 741px #fff, 784px 1262px #fff, 976px 22px #fff, 1524px 1493px #fff, 632px 1648px #fff, 1810px 228px #fff, 189px 1976px #fff, 1709px 1166px #fff, 1249px 1486px #fff, 468px 947px #fff, 1882px 893px #fff, 587px 1434px #fff, 428px 1943px #fff, 12px 401px #fff, 1460px 807px #fff, 940px 833px #fff, 1536px 1238px #fff, 1557px 162px #fff, 455px 714px #fff, 181px 1793px #fff, 826px 713px #fff, 1484px 216px #fff, 1756px 1404px #fff, 1334px 801px #fff, 952px 1922px #fff, 716px 1029px #fff, 1301px 1794px #fff, 92px 1937px #fff, 1192px 1251px #fff, 106px 1484px #fff, 371px 932px #fff, 1912px 51px #fff, 1730px 983px #fff, 784px 35px #fff, 165px 255px #fff, 1019px 1176px #fff, 841px 1584px #fff, 178px 794px #fff, 987px 1214px #fff, 915px 796px #fff, 1998px 780px #fff, 1645px 1385px #fff, 234px 1128px #fff, 236px 636px #fff, 465px 473px #fff, 44px 1336px #fff, 445px 1938px #fff, 1910px 1153px #fff, 140px 1640px #fff, 976px 1752px #fff, 1542px 1768px #fff, 56px 712px #fff, 390px 353px #fff, 1251px 1861px #fff, 1618px 1656px #fff, 556px 251px #fff, 582px 1093px #fff, 1864px 861px #fff, 1364px 555px #fff, 1522px 611px #fff, 575px 214px #fff, 778px 1737px #fff, 1983px 434px #fff, 499px 653px #fff, 554px 1868px #fff, 1564px 1187px #fff, 1507px 1712px #fff, 995px 1384px #fff, 1008px 1354px #fff, 1666px 1228px #fff, 801px 1665px #fff, 398px 1962px #fff, 605px 422px #fff, 551px 1240px #fff, 1951px 728px #fff, 1038px 1778px #fff, 552px 321px #fff, 82px 330px #fff, 1455px 1321px #fff, 584px 1466px #fff, 226px 672px #fff, 1986px 1585px #fff, 1287px 533px #fff, 635px 1441px #fff, 1869px 1808px #fff, 1499px 458px #fff, 1482px 581px #fff, 561px 573px #fff, 577px 393px #fff, 1369px 893px #fff, 1093px 426px #fff, 521px 1608px #fff, 391px 781px #fff, 1229px 70px #fff, 1609px 613px #fff, 749px 1956px #fff, 68px 1852px #fff, 580px 859px #fff, 395px 1190px #fff, 940px 1241px #fff, 1136px 259px #fff, 676px 1437px #fff, 1855px 1195px #fff, 271px 1079px #fff, 1510px 583px #fff, 692px 181px #fff, 295px 528px #fff, 1307px 1141px #fff, 1361px 901px #fff, 582px 329px #fff, 1019px 1432px #fff, 1067px 633px #fff, 108px 1683px #fff, 1572px 283px #fff, 495px 1537px #fff, 1802px 241px #fff, 1612px 504px #fff, 616px 629px #fff, 607px 399px #fff, 826px 611px #fff, 916px 1715px #fff, 1319px 1182px #fff, 1129px 1478px #fff, 1503px 73px #fff, 976px 695px #fff, 263px 645px #fff, 524px 1308px #fff, 60px 1929px #fff, 210px 449px #fff, 732px 1053px #fff, 586px 889px #fff, 100px 521px #fff, 990px 211px #fff, 240px 845px #fff, 1082px 434px #fff, 1167px 1246px #fff, 436px 1236px #fff, 678px 1658px #fff, 89px 1208px #fff, 1990px 166px #fff, 1165px 480px #fff, 645px 125px #fff, 305px 1585px #fff, 395px 98px #fff, 639px 151px #fff, 219px 1131px #fff, 1095px 565px #fff, 852px 1226px #fff, 1183px 404px #fff, 1243px 1853px #fff, 581px 1583px #fff, 1747px 1951px #fff, 1091px 483px #fff, 218px 688px #fff, 1059px 1951px #fff, 298px 59px #fff, 909px 634px #fff, 849px 100px #fff, 82px 420px #fff, 495px 1446px #fff, 1752px 1088px #fff, 1878px 1473px #fff, 934px 357px #fff, 373px 636px #fff, 388px 907px #fff, 1520px 97px #fff, 810px 1097px #fff, 1593px 918px #fff, 1070px 915px #fff, 935px 1694px #fff, 1212px 1445px #fff, 1922px 155px #fff, 1701px 1379px #fff, 1422px 1908px #fff, 1975px 807px #fff, 820px 113px #fff, 1522px 1849px #fff, 1651px 87px #fff, 1411px 810px #fff, 1864px 1323px #fff, 1286px 296px #fff, 1423px 456px #fff, 1755px 674px #fff, 944px 490px #fff, 992px 262px #fff, 22px 972px #fff, 1016px 30px #fff, 816px 1618px #fff, 1365px 346px #fff, 173px 686px #fff, 217px 26px #fff, 313px 1070px #fff, 656px 1563px #fff, 805px 1712px #fff, 907px 1319px #fff, 1516px 1222px #fff, 1657px 330px #fff, 769px 1928px #fff, 870px 366px #fff, 1554px 551px #fff, 1046px 891px #fff, 321px 1585px #fff, 1458px 1005px #fff, 1654px 629px #fff, 730px 1700px #fff, 480px 237px #fff, 410px 1172px #fff, 1911px 1502px #fff, 1447px 1956px #fff, 391px 61px #fff, 1612px 729px #fff, 1254px 511px #fff, 1449px 1528px #fff, 1662px 1068px #fff, 1612px 950px #fff, 374px 1945px #fff, 1808px 1121px #fff, 1815px 411px #fff, 770px 1259px #fff, 1145px 841px #fff, 1447px 468px #fff, 1437px 273px #fff, 1257px 956px #fff, 837px 1954px #fff, 446px 635px #fff, 1338px 1776px #fff, 534px 478px #fff, 1020px 48px #fff, 841px 214px #fff, 1823px 416px #fff, 1847px 1333px #fff, 84px 1021px #fff, 1584px 369px #fff, 1697px 563px #fff, 609px 511px #fff, 1434px 623px #fff, 1758px 1318px #fff, 1605px 641px #fff, 254px 1095px #fff, 1102px 16px #fff, 1967px 628px #fff, 93px 1915px #fff, 1281px 1572px #fff, 754px 601px #fff, 1062px 51px #fff, 1593px 715px #fff, 264px 754px #fff, 1478px 1507px #fff, 1517px 1738px #fff, 969px 1886px #fff, 311px 160px #fff, 67px 1661px #fff, 13px 866px #fff, 1869px 1796px #fff, 1715px 324px #fff, 1758px 147px #fff, 1815px 1711px #fff, 661px 1210px #fff, 944px 897px #fff, 1841px 997px #fff, 84px 1519px #fff, 914px 1506px #fff, 986px 939px #fff, 898px 615px #fff, 485px 383px #fff, 455px 1161px #fff, 1075px 494px #fff, 758px 525px #fff, 370px 529px #fff, 999px 546px #fff, 1767px 702px #fff, 833px 1617px #fff, 647px 1452px #fff, 126px 181px #fff, 1208px 1354px #fff, 1055px 1039px #fff, 1876px 1098px #fff, 292px 1411px #fff, 594px 470px #fff, 1311px 463px #fff, 652px 45px #fff, 757px 246px #fff, 1170px 951px #fff, 1101px 796px #fff, 1110px 1802px #fff, 1846px 1717px #fff, 1545px 1975px #fff, 35px 1177px #fff, 415px 781px #fff, 989px 1880px #fff, 954px 1878px #fff, 671px 1783px #fff, 1163px 1888px #fff, 1989px 560px #fff, 42px 1618px #fff, 1720px 1529px #fff, 1475px 1506px #fff, 171px 507px #fff, 885px 1531px #fff, 708px 109px #fff, 600px 902px #fff, 1007px 344px #fff, 336px 1869px #fff, 327px 243px #fff, 787px 1547px #fff, 1919px 1063px #fff, 488px 319px #fff, 562px 671px #fff, 870px 1602px #fff, 71px 1680px #fff, 1218px 848px #fff, 289px 1383px #fff, 589px 1329px #fff, 1189px 1799px #fff, 1891px 427px #fff, 940px 1488px #fff, 1283px 1138px #fff, 1191px 1204px #fff, 463px 1934px #fff, 284px 1353px #fff, 1252px 791px #fff, 223px 1067px #fff, 1741px 427px #fff, 881px 1455px #fff, 1475px 1151px #fff, 1908px 1421px #fff, 1080px 1991px #fff, 351px 966px #fff, 1453px 228px #fff, 1187px 1531px #fff, 277px 1648px #fff, 854px 1825px #fff, 570px 13px #fff, 564px 108px #fff, 759px 622px #fff, 29px 269px #fff, 1021px 983px #fff, 1332px 927px #fff, 1987px 127px #fff, 823px 1296px #fff, 523px 1165px #fff, 990px 77px #fff, 4px 1595px #fff, 771px 1725px #fff, 217px 1613px #fff, 1964px 23px #fff, 1136px 1174px #fff, 1143px 1590px #fff, 1829px 1659px #fff, 244px 1707px #fff, 107px 1089px #fff, 708px 1647px #fff;
}

.rising-stars div:nth-child(2) {
  animation-duration: 150s!important;
  box-shadow: 1403px 3264px #fff, 740px 886px #fff, 1818px 1366px #fff, 1576px 92px #fff, 437px 1286px #fff, 97px 1466px #fff, 1289px 787px #fff, 350px 679px #fff, 1354px 800px #fff, 590px 1320px #fff, 912px 1027px #fff, 1754px 1762px #fff, 225px 538px #fff, 1901px 1431px #fff, 558px 1571px #fff, 1086px 712px #fff, 1315px 663px #fff, 457px 1540px #fff, 1297px 1454px #fff, 26px 1358px #fff, 493px 630px #fff, 1464px 468px #fff, 741px 1005px #fff, 1684px 312px #fff, 1120px 1281px #fff, 983px 566px #fff, 538px 1941px #fff, 477px 584px #fff, 1644px 82px #fff, 1618px 910px #fff, 1808px 1894px #fff, 1324px 128px #fff, 196px 1787px #fff, 1449px 826px #fff, 1073px 1089px #fff, 521px 206px #fff, 1505px 678px #fff, 1595px 1454px #fff, 1632px 78px #fff, 1403px 1461px #fff, 1301px 622px #fff, 1364px 452px #fff, 340px 823px #fff, 486px 1874px #fff, 659px 1351px #fff, 1175px 735px #fff, 277px 1243px #fff, 988px 283px #fff, 1389px 1622px #fff, 1590px 940px #fff, 1652px 269px #fff, 1666px 1670px #fff, 1564px 944px #fff, 1386px 563px #fff, 1642px 1322px #fff, 948px 1200px #fff, 198px 479px #fff, 1139px 1566px #fff, 558px 1961px #fff, 260px 1398px #fff, 836px 1983px #fff, 1783px 1774px #fff, 620px 1708px #fff, 1410px 873px #fff, 409px 216px #fff, 1822px 659px #fff, 1323px 583px #fff, 1642px 224px #fff, 574px 669px #fff, 901px 166px #fff, 126px 1878px #fff, 999px 189px #fff, 1258px 1501px #fff, 1507px 1727px #fff, 581px 393px #fff, 1331px 1368px #fff, 30px 67px #fff, 118px 1645px #fff, 1165px 113px #fff, 199px 134px #fff, 1282px 1475px #fff, 1270px 668px #fff, 30px 334px #fff, 1065px 215px #fff, 585px 48px #fff, 1186px 1701px #fff, 1883px 721px #fff, 88px 1421px #fff, 985px 1496px #fff, 963px 20px #fff, 1197px 251px #fff, 379px 272px #fff, 116px 849px #fff, 696px 1796px #fff, 263px 1119px #fff, 177px 722px #fff, 1747px 343px #fff, 654px 1624px #fff, 1246px 1946px #fff, 1731px 1807px #fff, 1895px 1302px #fff, 500px 894px #fff, 312px 1378px #fff, 1679px 451px #fff, 905px 1814px #fff, 986px 490px #fff, 1193px 619px #fff, 1843px 1016px #fff, 1841px 1029px #fff, 765px 495px #fff, 1866px 1062px #fff, 1619px 449px #fff, 452px 1577px #fff, 370px 616px #fff, 661px 1857px #fff, 1461px 1743px #fff, 609px 1587px #fff, 115px 1744px #fff, 45px 897px #fff, 1191px 1589px #fff, 567px 990px #fff, 1770px 956px #fff, 313px 482px #fff, 870px 44px #fff, 652px 1481px #fff, 36px 1702px #fff, 1282px 1744px #fff, 497px 615px #fff, 447px 1806px #fff, 98px 407px #fff, 1558px 591px #fff, 88px 729px #fff, 1065px 589px #fff, 1653px 910px #fff, 1758px 968px #fff, 901px 901px #fff, 324px 1369px #fff, 1200px 1281px #fff, 501px 606px #fff, 920px 678px #fff, 1915px 979px #fff, 137px 745px #fff, 322px 66px #fff, 471px 601px #fff, 1134px 458px #fff, 398px 1191px #fff, 622px 618px #fff, 1333px 232px #fff, 431px 1535px #fff, 1632px 1559px #fff, 245px 1939px #fff, 190px 1733px #fff, 746px 1454px #fff, 448px 973px #fff, 1868px 486px #fff, 1960px 1371px #fff, 213px 361px #fff, 1825px 824px #fff, 1782px 1510px #fff, 101px 229px #fff, 19px 1325px #fff, 1995px 1395px #fff, 1048px 508px #fff, 1924px 60px #fff, 429px 342px #fff, 27px 1398px #fff, 706px 1350px #fff, 1482px 487px #fff, 678px 729px #fff, 276px 1537px #fff, 1213px 541px #fff, 131px 1565px #fff, 816px 1822px #fff, 856px 1571px #fff, 737px 469px #fff, 1969px 1986px #fff, 625px 371px #fff, 1595px 152px #fff, 1770px 183px #fff, 1097px 621px #fff, 793px 288px #fff, 1099px 319px #fff, 801px 1039px #fff, 1447px 146px #fff, 1914px 1515px #fff, 436px 977px #fff, 1385px 1027px #fff, 985px 191px #fff, 939px 1032px #fff, 397px 124px #fff, 1223px 424px #fff, 1459px 1727px #fff, 820px 1863px #fff, 801px 288px #fff, 1669px 1776px #fff, 310px 1214px #fff, 473px 608px #fff, 1698px 1150px #fff, 1451px 898px #fff, 1649px 1589px #fff, 633px 561px #fff, 122px 1342px #fff, 502px 693px #fff, 276px 1278px #fff, 1564px 1064px #fff, 1985px 644px #fff, 686px 1681px #fff, 932px 864px #fff, 15px 24px #fff, 1370px 1279px #fff, 1923px 1756px #fff, 79px 1923px #fff, 1401px 1060px #fff, 687px 1278px #fff, 859px 857px #fff, 1451px 1911px #fff, 431px 1030px #fff, 38px 1287px #fff, 126px 651px #fff, 450px 1522px #fff, 1108px 880px #fff, 1981px 96px #fff, 962px 1462px #fff, 1544px 996px #fff, 221px 99px #fff, 530px 1742px #fff, 112px 1280px #fff, 1193px 1261px #fff, 1865px 1781px #fff, 1853px 127px #fff, 7px 1764px #fff, 1839px 1871px #fff, 212px 354px #fff, 370px 1961px #fff, 883px 874px #fff, 1026px 1125px #fff, 755px 1640px #fff, 647px 510px #fff, 1397px 1753px #fff, 734px 12px #fff, 846px 1461px #fff, 934px 1986px #fff, 534px 1014px #fff, 736px 636px #fff, 526px 1913px #fff, 1557px 1557px #fff, 1457px 46px #fff, 1245px 1027px #fff, 747px 1651px #fff, 918px 1697px #fff, 1072px 1579px #fff, 1553px 1543px #fff, 751px 258px #fff, 906px 1159px #fff, 786px 143px #fff, 442px 850px #fff, 545px 669px #fff, 300px 184px #fff, 315px 1895px #fff, 1533px 1758px #fff, 1718px 1988px #fff, 896px 1892px #fff, 630px 193px #fff, 1511px 67px #fff, 1772px 342px #fff, 1104px 476px #fff, 489px 1422px #fff, 230px 1091px #fff, 134px 437px #fff, 754px 980px #fff, 1148px 738px #fff, 183px 1835px #fff, 1529px 1054px #fff, 384px 367px #fff, 1183px 1374px #fff, 1822px 845px #fff, 1923px 1411px #fff, 575px 495px #fff, 390px 1752px #fff, 1667px 755px #fff, 990px 778px #fff, 1237px 1756px #fff, 943px 163px #fff, 375px 290px #fff, 619px 693px #fff, 993px 313px #fff, 977px 1652px #fff, 1300px 1751px #fff, 311px 1295px #fff, 628px 895px #fff, 1352px 1943px #fff, 1544px 526px #fff, 1640px 108px #fff, 564px 1149px #fff, 706px 910px #fff, 215px 409px #fff, 966px 1899px #fff, 342px 281px #fff, 1901px 1662px #fff, 1957px 1473px #fff, 1835px 1480px #fff, 1820px 591px #fff, 1953px 1201px #fff, 1486px 921px #fff, 260px 1996px #fff, 159px 238px #fff, 1774px 1209px #fff, 627px 458px #fff, 892px 1583px #fff, 1595px 1157px #fff, 759px 896px #fff, 419px 806px #fff, 1158px 1113px #fff, 759px 639px #fff, 35px 1070px #fff, 1107px 1557px #fff, 612px 261px #fff, 1810px 150px #fff, 927px 695px #fff, 154px 330px #fff, 54px 1350px #fff, 638px 689px #fff, 1595px 817px #fff, 411px 394px #fff, 953px 1634px #fff, 1895px 472px #fff, 1954px 954px #fff, 495px 1496px #fff, 1680px 1931px #fff, 38px 44px #fff, 155px 1094px #fff, 248px 400px #fff, 1417px 1837px #fff, 261px 730px #fff, 1610px 1949px #fff, 1782px 1779px #fff, 363px 1255px #fff, 908px 1382px #fff, 915px 1837px #fff, 693px 1766px #fff, 61px 313px #fff, 152px 1899px #fff, 822px 1728px #fff, 1588px 485px #fff, 804px 1403px #fff, 252px 851px #fff, 1134px 1951px #fff, 267px 977px #fff, 330px 305px #fff, 481px 1626px #fff, 1930px 513px #fff, 724px 1957px #fff, 604px 1067px #fff, 182px 1647px #fff, 1651px 1179px #fff, 1551px 732px #fff, 1736px 1359px #fff, 436px 1184px #fff, 267px 427px #fff, 1248px 1570px #fff, 1104px 1348px #fff, 597px 258px #fff, 1677px 1550px #fff, 665px 323px #fff, 405px 334px #fff, 664px 739px #fff, 1547px 1698px #fff, 1022px 996px #fff, 1748px 408px #fff, 248px 589px #fff, 332px 1740px #fff, 709px 74px #fff, 474px 1022px #fff, 395px 1596px #fff, 1944px 735px #fff, 285px 1798px #fff, 548px 430px #fff, 450px 451px #fff, 1865px 1298px #fff, 1741px 1198px #fff, 762px 128px #fff, 479px 655px #fff, 1415px 461px #fff, 1083px 1527px #fff, 1353px 1037px #fff, 760px 486px #fff, 1271px 1371px #fff, 45px 755px #fff, 690px 210px #fff, 1956px 1775px #fff, 1327px 278px #fff, 665px 1421px #fff, 1578px 134px #fff, 1071px 812px #fff, 149px 700px #fff, 1800px 1811px #fff, 537px 562px #fff, 1929px 754px #fff, 1496px 815px #fff, 1444px 1061px #fff, 399px 1240px #fff, 304px 715px #fff, 949px 601px #fff, 1974px 1585px #fff, 143px 545px #fff, 480px 1188px #fff, 205px 1799px #fff, 433px 745px #fff, 1667px 906px #fff, 1472px 560px #fff, 1330px 1861px #fff, 1926px 271px #fff, 619px 497px #fff, 1239px 515px #fff, 1974px 540px #fff, 1259px 224px #fff, 1004px 21px #fff, 1395px 919px #fff, 567px 366px #fff, 1540px 807px #fff, 1041px 457px #fff, 230px 941px #fff, 909px 1646px #fff, 602px 1232px #fff, 1645px 323px #fff, 1333px 712px #fff, 1775px 1663px #fff, 1081px 703px #fff, 849px 1554px #fff, 765px 940px #fff, 1232px 180px #fff, 346px 1332px #fff, 1018px 571px #fff, 254px 568px #fff, 1264px 612px #fff, 712px 1779px #fff, 949px 830px #fff, 1895px 1692px #fff, 1081px 751px #fff, 1024px 743px #fff, 523px 22px #fff, 253px 1103px #fff, 783px 1522px #fff, 1759px 595px #fff, 233px 1586px #fff, 1680px 600px #fff, 1937px 1423px #fff, 1067px 335px #fff, 1726px 1497px #fff, 1997px 1725px #fff, 1092px 330px #fff, 1404px 697px #fff, 1205px 1783px #fff, 1438px 996px #fff, 920px 554px #fff, 483px 994px #fff, 1114px 1701px #fff, 1835px 204px #fff, 350px 53px #fff, 683px 1153px #fff, 304px 1475px #fff, 197px 737px #fff, 578px 1630px #fff, 361px 1491px #fff, 219px 1779px #fff, 79px 741px #fff, 1078px 705px #fff, 1983px 1143px #fff, 1747px 1839px #fff, 197px 1947px #fff, 1824px 1641px #fff, 692px 504px #fff, 395px 78px #fff, 720px 1262px #fff, 691px 274px #fff, 1634px 1982px #fff, 1310px 233px #fff, 584px 261px #fff, 1997px 1578px #fff, 87px 269px #fff, 198px 1488px #fff, 217px 1486px #fff, 911px 1695px #fff, 520px 510px #fff, 1227px 1409px #fff, 1713px 665px #fff, 1531px 646px #fff, 1117px 1347px #fff, 1372px 1736px #fff, 1762px 1376px #fff, 770px 1397px #fff, 1352px 50px #fff, 28px 1325px #fff, 1053px 286px #fff, 195px 1437px #fff, 637px 1096px #fff, 1574px 1690px #fff, 1812px 773px #fff, 1167px 742px #fff, 1303px 229px #fff;
  opacity: .5;
}

.rising-stars div:nth-child(3) {
  animation-duration: 200s!important;
  box-shadow: 55px 7338px #fff, 495px 1007px #fff, 1439px 233px #fff, 373px 1182px #fff, 555px 893px #fff, 1703px 1783px #fff, 1552px 923px #fff, 1921px 1981px #fff, 320px 1484px #fff, 1898px 412px #fff, 1198px 1060px #fff, 1348px 1552px #fff, 1726px 940px #fff, 628px 1235px #fff, 110px 1656px #fff, 1802px 668px #fff, 1007px 1068px #fff, 1897px 1134px #fff, 1127px 115px #fff, 1802px 186px #fff, 663px 936px #fff, 1300px 1708px #fff, 1033px 291px #fff, 430px 1862px #fff, 65px 483px #fff, 1814px 219px #fff, 1105px 646px #fff, 1120px 924px #fff, 896px 795px #fff, 164px 1924px #fff, 1819px 1789px #fff, 1475px 850px #fff, 239px 396px #fff, 14px 314px #fff, 728px 1284px #fff, 1294px 1012px #fff, 185px 1255px #fff, 1782px 1696px #fff, 1291px 530px #fff, 1796px 1527px #fff, 529px 514px #fff, 473px 1866px #fff, 564px 806px #fff, 420px 1868px #fff, 1727px 1306px #fff, 367px 911px #fff, 1585px 974px #fff, 1330px 1705px #fff, 1650px 1263px #fff, 683px 137px #fff, 1773px 794px #fff, 1740px 1741px #fff, 1315px 1313px #fff, 1645px 873px #fff, 662px 331px #fff, 1804px 1637px #fff, 102px 802px #fff, 522px 946px #fff, 240px 209px #fff, 869px 679px #fff, 632px 928px #fff, 1px 1667px #fff, 756px 1414px #fff, 213px 847px #fff, 580px 486px #fff, 160px 282px #fff, 1788px 1206px #fff, 364px 1508px #fff, 696px 168px #fff, 614px 942px #fff, 400px 1164px #fff, 1264px 1209px #fff, 158px 1576px #fff, 793px 238px #fff, 305px 1201px #fff, 951px 1453px #fff, 360px 298px #fff, 1414px 226px #fff, 1633px 773px #fff, 514px 1272px #fff, 1937px 1195px #fff, 1546px 144px #fff, 1849px 633px #fff, 596px 1706px #fff, 1911px 1531px #fff, 1749px 1467px #fff, 461px 682px #fff, 608px 563px #fff, 1615px 64px #fff, 1044px 1989px #fff, 742px 1506px #fff, 531px 1915px #fff, 1642px 1497px #fff, 575px 1891px #fff, 1488px 1209px #fff, 559px 240px #fff, 1856px 1440px #fff, 1875px 1380px #fff, 1984px 908px #fff, 1063px 354px #fff, 20px 1761px #fff, 361px 880px #fff, 1248px 1925px #fff, 1673px 307px #fff, 1213px 591px #fff, 122px 1413px #fff, 829px 1801px #fff, 1468px 1389px #fff, 1630px 152px #fff, 322px 237px #fff, 1483px 348px #fff, 41px 985px #fff, 744px 734px #fff, 710px 1541px #fff, 571px 1774px #fff, 740px 1269px #fff, 1069px 1918px #fff, 1893px 1744px #fff, 1394px 1445px #fff, 1810px 1337px #fff, 1324px 1621px #fff, 242px 1432px #fff, 195px 586px #fff, 223px 107px #fff, 1109px 1245px #fff, 761px 1092px #fff, 825px 1153px #fff, 1900px 1405px #fff, 1734px 573px #fff, 1627px 1746px #fff, 1581px 1628px #fff, 840px 374px #fff, 1775px 840px #fff, 1631px 1838px #fff, 577px 1738px #fff, 193px 1152px #fff, 1218px 1189px #fff, 434px 717px #fff, 584px 1782px #fff, 1663px 839px #fff, 1235px 1311px #fff, 637px 1729px #fff, 1336px 490px #fff, 1882px 892px #fff, 268px 751px #fff, 739px 628px #fff, 556px 1649px #fff, 1163px 1873px #fff, 1892px 1470px #fff, 1086px 939px #fff, 1401px 295px #fff, 1302px 364px #fff, 1152px 1831px #fff, 1191px 1970px #fff, 250px 1226px #fff, 68px 579px #fff, 1497px 708px #fff, 1846px 1946px #fff, 1300px 278px #fff, 514px 333px #fff, 1463px 222px #fff, 531px 1888px #fff, 616px 138px #fff, 673px 989px #fff, 1772px 502px #fff, 590px 313px #fff, 1780px 1306px #fff, 1600px 1448px #fff, 777px 217px #fff, 274px 1182px #fff, 576px 617px #fff, 1592px 1411px #fff, 1939px 897px #fff, 1990px 1725px #fff, 251px 1883px #fff, 646px 1520px #fff, 1347px 562px #fff, 196px 1016px #fff, 1536px 653px #fff, 465px 722px #fff, 517px 58px #fff, 629px 1169px #fff, 585px 254px #fff, 1360px 1520px #fff, 636px 896px #fff, 106px 226px #fff, 469px 1518px #fff, 361px 1080px #fff, 180px 1377px #fff, 1477px 1691px #fff, 632px 79px #fff, 41px 476px #fff, 1947px 1616px #fff, 243px 1299px #fff, 1237px 108px #fff, 1781px 1048px #fff, 672px 586px #fff, 311px 608px #fff, 166px 946px #fff, 49px 1148px #fff, 243px 1637px #fff, 1829px 626px #fff, 801px 658px #fff, 1034px 220px #fff, 1583px 1462px #fff, 621px 1871px #fff, 318px 1487px #fff, 842px 1280px #fff, 1264px 905px #fff, 1666px 1685px #fff, 1233px 1298px #fff, 1889px 745px #fff, 894px 1648px #fff, 1380px 1038px #fff, 1235px 1758px #fff, 322px 1734px #fff, 1797px 648px #fff, 1939px 1857px #fff, 1406px 684px #fff, 700px 1921px #fff, 805px 301px #fff, 1303px 250px #fff, 1867px 238px #fff, 660px 79px #fff, 416px 1573px #fff, 1246px 499px #fff, 1652px 1202px #fff, 612px 1626px #fff, 492px 1313px #fff, 314px 568px #fff, 1418px 1031px #fff, 982px 1299px #fff, 1879px 1274px #fff, 316px 1381px #fff, 1506px 946px #fff, 209px 886px #fff, 184px 723px #fff, 374px 1124px #fff, 397px 1793px #fff, 1037px 1344px #fff, 914px 1254px #fff, 306px 184px #fff, 1370px 521px #fff, 622px 445px #fff, 437px 264px #fff, 481px 8px #fff, 405px 1297px #fff, 1620px 455px #fff, 1422px 1830px #fff, 897px 282px #fff, 40px 437px #fff, 546px 1001px #fff, 1809px 750px #fff, 1233px 1779px #fff, 482px 1949px #fff, 815px 561px #fff, 479px 1014px #fff, 546px 1202px #fff, 1758px 1560px #fff, 1947px 1790px #fff, 1737px 1578px #fff, 722px 101px #fff, 1993px 1840px #fff, 831px 963px #fff, 727px 939px #fff, 1777px 6px #fff, 617px 1645px #fff, 1022px 645px #fff, 872px 40px #fff, 1282px 168px #fff, 523px 161px #fff, 355px 464px #fff, 444px 8px #fff, 1603px 1959px #fff, 1238px 253px #fff, 247px 1213px #fff, 225px 1557px #fff, 405px 966px #fff, 519px 372px #fff, 1225px 1036px #fff, 743px 722px #fff, 1713px 1803px #fff, 427px 36px #fff, 1872px 1187px #fff, 739px 569px #fff, 1987px 1993px #fff, 303px 434px #fff, 233px 696px #fff, 1954px 1928px #fff, 1683px 1062px #fff, 1966px 679px #fff, 86px 918px #fff, 1335px 1097px #fff, 855px 1953px #fff, 75px 1104px #fff, 584px 1637px #fff, 74px 394px #fff, 1073px 383px #fff, 1043px 213px #fff, 333px 890px #fff, 1426px 816px #fff, 658px 713px #fff, 739px 1469px #fff, 648px 977px #fff, 1628px 260px #fff, 1210px 658px #fff, 1414px 1319px #fff, 462px 533px #fff, 928px 359px #fff, 2000px 1253px #fff, 1703px 1390px #fff, 1675px 1869px #fff, 1254px 1277px #fff, 1110px 1847px #fff, 1193px 1377px #fff, 914px 1984px #fff, 1967px 1423px #fff, 747px 1752px #fff, 295px 1406px #fff, 1387px 877px #fff, 1507px 1640px #fff, 351px 1988px #fff, 553px 897px #fff, 1812px 627px #fff, 1841px 174px #fff, 461px 382px #fff, 758px 805px #fff, 1946px 1078px #fff, 552px 980px #fff, 953px 368px #fff, 1691px 24px #fff, 1581px 1789px #fff, 1969px 182px #fff, 370px 1550px #fff, 1291px 18px #fff, 333px 1231px #fff, 1704px 581px #fff, 47px 1589px #fff, 1113px 516px #fff, 937px 441px #fff, 1756px 1495px #fff, 1888px 1912px #fff, 158px 1788px #fff, 291px 861px #fff, 1061px 152px #fff, 1137px 1467px #fff, 1161px 1576px #fff, 600px 44px #fff, 840px 783px #fff, 206px 633px #fff, 939px 1545px #fff, 226px 1485px #fff, 1904px 676px #fff, 1613px 1543px #fff, 697px 455px #fff, 290px 642px #fff, 1775px 763px #fff, 713px 910px #fff, 1376px 1535px #fff, 1755px 395px #fff, 1377px 181px #fff, 714px 1162px #fff, 1374px 1133px #fff, 479px 1533px #fff, 556px 1625px #fff, 1215px 1393px #fff, 1836px 466px #fff, 1299px 1805px #fff, 1716px 259px #fff, 1449px 1498px #fff, 466px 643px #fff, 992px 1315px #fff, 132px 747px #fff, 511px 850px #fff, 1067px 524px #fff, 1570px 247px #fff, 893px 1549px #fff, 1013px 442px #fff, 1237px 471px #fff, 904px 1216px #fff, 1701px 245px #fff, 1188px 127px #fff, 1754px 1805px #fff, 1674px 1306px #fff, 242px 700px #fff, 1991px 20px #fff, 889px 927px #fff, 1984px 1898px #fff, 1333px 449px #fff, 1206px 385px #fff, 850px 1277px #fff, 518px 809px #fff, 1677px 740px #fff, 1614px 1863px #fff, 353px 1117px #fff, 1349px 1202px #fff, 1104px 221px #fff, 803px 298px #fff, 426px 1283px #fff, 313px 942px #fff, 1237px 233px #fff, 747px 1564px #fff, 450px 320px #fff, 668px 1954px #fff, 157px 76px #fff, 963px 403px #fff, 921px 993px #fff, 274px 59px #fff, 1150px 1478px #fff, 1683px 81px #fff, 511px 1455px #fff, 32px 1865px #fff, 1661px 1127px #fff, 1113px 575px #fff, 601px 773px #fff, 840px 393px #fff, 1933px 1616px #fff, 64px 1339px #fff, 1724px 1706px #fff, 1220px 46px #fff, 1235px 299px #fff, 1819px 827px #fff, 943px 1631px #fff, 1288px 823px #fff, 1647px 684px #fff, 709px 1925px #fff, 1574px 1642px #fff, 65px 527px #fff, 1504px 1106px #fff, 507px 204px #fff, 942px 1526px #fff, 272px 545px #fff, 1894px 1298px #fff, 1852px 889px #fff, 972px 1757px #fff, 1998px 1883px #fff, 183px 321px #fff, 446px 1938px #fff, 163px 1395px #fff, 117px 902px #fff, 1000px 1671px #fff, 260px 1127px #fff, 1380px 2000px #fff, 1446px 1384px #fff, 1248px 846px #fff, 1964px 1554px #fff, 332px 732px #fff, 1414px 852px #fff, 986px 1559px #fff, 985px 1187px #fff, 1037px 375px #fff, 574px 742px #fff, 1444px 1086px #fff, 11px 1973px #fff, 997px 209px #fff, 1330px 733px #fff, 90px 212px #fff, 1928px 34px #fff, 1873px 1320px #fff, 247px 1186px #fff, 296px 565px #fff, 1344px 1702px #fff, 1058px 652px #fff, 1307px 347px #fff, 1725px 923px #fff, 125px 1457px #fff, 1625px 723px #fff, 1902px 1857px #fff, 1797px 851px #fff, 192px 1438px #fff, 1327px 1503px #fff, 1611px 889px #fff, 317px 1928px #fff, 1532px 855px #fff, 43px 1574px #fff, 1880px 1627px #fff, 1948px 1065px #fff, 1618px 1711px #fff, 1476px 1190px #fff, 155px 1164px #fff, 1893px 124px #fff, 1071px 410px #fff, 555px 1682px #fff, 549px 682px #fff, 661px 1785px #fff, 1857px 584px #fff, 1006px 550px #fff, 1171px 1704px #fff, 199px 885px #fff, 1271px 664px #fff, 1923px 582px #fff, 1769px 1112px #fff, 206px 1171px #fff, 919px 1150px #fff, 1577px 533px #fff, 1541px 527px #fff, 341px 1288px #fff, 1253px 518px #fff, 1477px 518px #fff, 1686px 1088px #fff;
  opacity: .3;
}

.rising-stars div {
  background: transparent;
  border-radius: 50%;
}

.rising-stars-visible div {
  animation: risingStarsAnimation linear infinite;
}